<header>
    <h1>TechMasters</h1>
    <nav>
        <a href = "/" target="_self">Accueil</a>
        <a href = "/ourservices" target="_self">Nos services</a>
        <a href = "/contact" target="_self">Nous contacter</a>
    </nav>
</header>