<main>
    <h1>Nous contacter</h1>
    <form id = "formulaire">
        <label for = "email">Email</label>
        <input placeholder = "Adresse e-mail" id = "email" type = "email" required>

        <label for = "phone">Numéro de téléphone</label>
        <input placeholder = "Précisez le code du pays 0221 78 798 78 92" id = "phone" type = "text" required>

        <label for = "message">Détaillez ici ce dont vous avez besoin.</label>
        <textarea id = "message" placeholder = "Ecrivez ici" required></textarea>

        <button type = "submit" form = "formulaire" id = "redirection">Soumettre</button>
    </form>

    <script src = "/javascripts/contact.js"></script>
</main>