<main>
    <section>
        <p>
            Plongez dans l'univers infini de la technologie avec notre service de vente chez TechMasters. 
            Explorez notre vaste gamme de smartphones dernier cri, des marques les plus renommées aux derniers 
            modèles révolutionnaires, conçus pour répondre à tous vos besoins en communication et en divertissement mobile. 
            Découvrez également notre sélection d'ordinateurs portables, alliant puissance, portabilité et design élégant 
            pour une productivité sans limites, que ce soit pour le travail, les études ou les loisirs. Pour une expérience 
            tactile immersive, jetez un œil à notre collection de tablettes, offrant une combinaison parfaite de performance 
            et de polyvalence pour une utilisation quotidienne fluide et intuitive. Chez TechMasters, nous sommes déterminés 
            à vous offrir les dernières innovations technologiques pour vous permettre de rester connecté et de repousser les 
            limites de la créativité et de la productivité.
        </p>
        <div id = "images">
            <img alt = "section1" src = "/images/service1.png">
            <img alt = "section1" src = "/images/service2.png">
            <img alt = "section1" src = "/images/service3.png">
        </div>
        <div class = "redirection">
            <a href = "/service1" target="_self">Découvrir</a>
        </div>
    </section>
    <section>
        <p>
            Confiez vos précieux appareils entre les mains expertes de notre service de réparation 
            chez TechMasters. Que votre smartphone présente un écran fissuré, une batterie défaillante 
            ou des problèmes de performance, nos techniciens certifiés sont là pour diagnostiquer et résoudre 
            rapidement tous les problèmes rencontrés.
            <img alt = "section2" src = "/images/service4.png" class = "services">
            De même, si votre ordinateur portable montre des signes de dysfonctionnement, comme des problèmes 
            de démarrage ou des erreurs logicielles, nous sommes équipés pour effectuer des réparations rapides 
            et efficaces pour restaurer son fonctionnement optimal. En outre, pour les propriétaires de tablettes 
            confrontés à des problèmes d'affichage ou de connectivité, notre équipe est formée pour identifier et 
            résoudre toute panne avec expertise et professionnalisme.
            <img alt = "section2" src = "/images/service5.png" class = "services">
            Chez TechMasters, nous comprenons l'importance de vos appareils dans votre vie quotidienne, c'est 
            pourquoi nous nous engageons à fournir un service de réparation fiable et de qualité pour vous permettre 
            de retrouver rapidement l'usage de vos précieux gadgets électroniques.
        </p>
        <div class = "redirection">
            <a href = "/service2" target="_self">Découvrir</a>
        </div>
    </section>
</main>