<main>
    <div id = "services">
        <div class = "merchandise">
            <h1>Ordinateurs</h1>
            <span class = "line"></span>
            <div class = "productDiv">
                <div>
                    <img alt = "ordi" src = "/images/ordi1.png">
                    <h3>Microsoft Surface Laptop Go 3</h3>
                    <span>969 €</span>
                    <p>
                        Découvrez le Microsoft Surface Laptop Go 3, un concentré de puissance et de style.
                        Avec son design élégant et sa portabilité, il offre une expérience informatique incomparable.
                        Doté d'un processeur Intel Core de 11e génération, d'un écran tactile PixelSense de 12,4 pouces
                        et d'une batterie longue durée, il vous permet de rester productif où que vous soyez. Optez pour
                        le Surface Laptop Go 3 et redéfinissez votre façon de travailler et de vous divertir.
                    </p>
                </div>
                <div>
                    <img alt = "ordi" src = "/images/ordi2.png">
                    <h3>MacBook Air 13″ et 15″</h3>
                    <span>1 299 €</span>
                    <p>
                        Découvrez le MacBook Air 13" et 15", des bijoux de design et de performance signés Apple.
                        Avec leur conception élégante et leur portabilité exceptionnelle, ces ordinateurs portables
                        offrent une expérience informatique haut de gamme. Dotés des puissants processeurs Apple M1
                        et M1 Pro, ainsi que d'écrans Retina lumineux et colorés, ils vous permettent de réaliser toutes
                        vos tâches avec fluidité et précision. Que vous travailliez, étudiez ou vous divertissiez,
                        le MacBook Air et le MacBook Pro vous accompagnent avec style et efficacité. Optez pour
                        l'excellence avec les MacBook Air et MacBook Pro, et laissez-vous séduire par leur performance
                        incomparable et leur design intemporel.
                    </p>
                </div>
                <div>
                    <img alt = "ordi" src = "/images/ordi3.png">
                    <h3>Asus 14P Celeron</h3>
                    <span>379,99 €</span>
                    <p>
                        Découvrez le Asus 14P Celeron, une solution abordable et polyvalente pour vos besoins informatiques
                        quotidiens. Avec son design élégant et compact, cet ordinateur portable offre une expérience utilisateur
                        agréable et efficace. Équipé d'un processeur Intel Celeron et d'un écran HD de 14 pouces, il vous permet
                        d'exécuter vos tâches quotidiennes avec facilité. Que ce soit pour naviguer sur le Web, envoyer des e-mails
                        ou regarder des vidéos, le Asus 14P Celeron vous accompagne partout avec une performance fiable. Optez pour
                        la simplicité et l'efficacité avec le Asus 14P Celeron, et découvrez une nouvelle façon de travailler et de
                        vous divertir.
                    </p>
                </div>
            </div>
        </div>
        <div class = "merchandise">
            <h1>Smartphones</h1>
            <span class = "line"></span>
            <div class = "productDiv">
                <div>
                    <img alt = "phone" src = "/images/phone1.png">
                    <h3>iPhone 15 Pro</h3>
                    <span>344,00 €</span>
                    <p>
                        Découvrez l'iPhone 15 Pro, le summum de l'innovation et de l'élégance dans
                        le monde des smartphones. Doté d'un design raffiné et d'une construction de
                        qualité supérieure, cet appareil emblématique offre une expérience utilisateur
                        incomparable. Avec sa technologie de pointe, incluant un processeur A16 Bionic
                        et un écran Super Retina XDR, l'iPhone 15 Pro vous offre des performances exceptionnelles
                        et des images époustouflantes. Que vous capturiez des photos éclatantes, que vous naviguiez
                        sur Internet ou que vous profitiez de vos applications préférées, cet iPhone repousse les
                        limites de la perfection. Optez pour l'excellence avec l'iPhone 15 Pro et découvrez une
                        nouvelle dimension de la connectivité et de la créativité, où chaque instant est sublimé.
                    </p>
                </div>
                <div>
                    <img alt = "phone" src = "/images/phone2.png">
                    <h3>Tecno Spark 10 Pro</h3>
                    <span>144,71 €</span>
                    <p>
                        Découvrez le Tecno Spark 10 Pro, le choix idéal pour ceux qui recherchent un smartphone
                        abordable mais performant. Avec son design moderne et élégant, cet appareil offre une
                        expérience utilisateur exceptionnelle. Doté d'un processeur puissant et d'un écran HD+
                        lumineux de 6,8 pouces, le Tecno Spark 10 Pro vous permet de profiter de vos contenus
                        préférés avec netteté et clarté. Que vous utilisiez votre téléphone pour prendre des
                        photos de qualité, pour jouer à des jeux ou pour rester connecté avec vos proches,
                        ce smartphone répondra à tous vos besoins. Optez pour le Techno Spark 10 Pro et découvrez
                        un monde de possibilités sans vous ruiner.
                    </p>
                </div>
                <div>
                    <img alt = "phone" src = "/images/phone3.png">
                    <h3>Samsung Galaxy S24 Ultra</h3>
                    <span>1 295,96 €</span>
                    <p>
                        Découvrez le Samsung Galaxy S24 Ultra, le summum de l'innovation et du design dans le monde
                        des smartphones. Avec son esthétique élégante et ses performances de pointe, cet appareil
                        repousse les limites de ce que vous pouvez attendre d'un smartphone. Doté d'un puissant
                        processeur Exynos 2200 et d'un écran Dynamic AMOLED de 6,8 pouces, le Galaxy S24 Ultra offre
                        une expérience visuelle époustouflante, que ce soit pour regarder des vidéos, jouer à des
                        jeux ou naviguer sur Internet. Avec sa caméra professionnelle, vous pouvez capturer des
                        photos et des vidéos de qualité professionnelle, même dans des conditions de faible luminosité.
                        Que vous soyez un passionné de technologie ou un utilisateur avancé, le Samsung Galaxy S24 Ultra
                        répondra à toutes vos attentes. Optez pour l'excellence avec le Galaxy S24 Ultra et découvrez une
                        nouvelle ère de connectivité et de puissance dans le creux de votre main.
                    </p>
                </div>
            </div>
        </div>
        <div class = "merchandise">
            <h1>Tablettes</h1>
            <span class = "line"></span>
            <div class = "productDiv">
                <div>
                    <img alt = "tablet" src = "/images/tablet1.png">
                    <h3>Galaxy Tab A9+ 5G</h3>
                    <span>255,58 €</span>
                    <p>
                        Découvrez la tablette Galaxy Tab A9+ 5G de Samsung, une fusion parfaite de performance
                        et de connectivité. Avec son design élégant et sa compatibilité 5G, cette tablette vous
                        offre une expérience utilisateur immersive et fluide, où que vous soyez. Dotée d'un écran
                        WUXGA+ de 10,4 pouces, elle vous permet de profiter de vos contenus préférés avec une clarté
                        exceptionnelle et des couleurs éclatantes. Grâce à son processeur octa-core, la Galaxy Tab A9+
                        5G offre des performances rapides et réactives pour exécuter toutes vos tâches quotidiennes en
                        toute fluidité. Que vous utilisiez votre tablette pour regarder des vidéos, surfer sur le Web
                        ou travailler en déplacement, la Galaxy Tab A9+ 5G est là pour vous accompagner avec style et efficacité.
                    </p>
                </div>
                <div>
                    <img alt = "tablet" src = "/images/tablet2.png">
                    <h3>Huawei MediaPad T5</h3>
                    <span>163,99 €</span>
                    <p>
                        Découvrez la Huawei MediaPad T5, la tablette parfaite pour vos besoins quotidiens. Avec son design élégant
                        et son écran Full HD de 10,1 pouces, cette tablette offre une expérience visuelle immersive pour le divertissement
                        et la productivité. Dotée d'un processeur octa-core et d'une batterie longue durée, la MediaPad T5 garantit des
                        performances fluides tout au long de la journée. Que vous regardiez des vidéos, lisiez des livres électroniques
                        ou naviguiez sur le Web, cette tablette répondra à tous vos besoins avec efficacité et style. Optez pour la Huawei
                        MediaPad T5 et découvrez une nouvelle façon de profiter de la technologie au creux de votre main.
                    </p>
                </div>
                <div>
                    <img alt = "tablet" src = "/images/tablet3.png">
                    <h3>iPad Pro</h3>
                    <span>1 069 €</span>
                    <p>
                        Découvrez l'iPad Pro d'Apple, le summum de la puissance et de la polyvalence dans le monde des tablettes. Avec son
                        design élégant et son écran Liquid Retina époustouflant, cet iPad offre une expérience visuelle exceptionnelle pour
                        le travail et les loisirs. Doté du puissant processeur M1 d'Apple, l'iPad Pro vous permet d'exécuter des tâches
                        complexes avec une fluidité et une rapidité incomparables. Que vous soyez un professionnel créatif ou un utilisateur
                        passionné de technologie, l'iPad Pro vous offre les outils nécessaires pour libérer votre créativité et réaliser
                        vos projets les plus ambitieux. Optez pour l'excellence avec l'iPad Pro et découvrez une nouvelle façon de
                        travailler, de créer et de vous divertir.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id = "redirection">
        <a href = "/contact" target="_self">Envie de commander ? Contactez-nous!</a>
    </div>
</main>