<main>
    <div class = "repairDiv">
        <img alt = "repair" src = "/images/repair1.png">
        <div>
            <p>
                Dans notre entreprise, les techniciens ne se contentent pas de résoudre 
                des problèmes ; ils façonnent l'expérience de nos clients avec une expertise 
                inégalée et un engagement sans compromis. Ces maîtres de la technologie sont 
                les gardiens de la fiabilité et de la performance de nos produits, assurant 
                que chaque appareil réparé fonctionne comme neuf.
            </p>
            <p>
                Grâce à leur savoir-faire éprouvé et à leur dévouement inébranlable, nos 
                techniciens transforment les pannes en opportunités de satisfaction client. 
                Leur mission ? Réparer, rénover et redonner vie à chaque appareil qui 
                franchit nos portes, avec une précision chirurgicale et une attention aux détails inégalée.
            </p>
        </div>
    </div>
    <div class = "repairDiv">
        <div>
            <p>
                Que ce soit pour remplacer un écran fissuré, restaurer un système endommagé 
                ou résoudre un problème de connectivité, nos techniciens sont prêts à relever 
                tous les défis. Leur expertise dépasse les simples réparations ; ils sont les 
                artisans de la confiance, les garants de la qualité et les architectes de la satisfaction client.
            </p>
            <p>
                Confiez vos appareils entre les mains expertes de nos techniciens et découvrez 
                la tranquillité d'esprit qui vient avec un service de réparation de première classe. 
                Avec eux, chaque réparation est une promesse de performance et de fiabilité, et chaque 
                interaction est une garantie de satisfaction. Choisissez notre entreprise pour des 
                réparations qui dépassent vos attentes et des techniciens qui placent votre satisfaction 
                au cœur de leur travail.
            </p>
        </div>
        <img alt = "repair" src = "/images/repair2.png">
    </div>

    <div id = "redirection"> 
        <a href = "/contact" target="_self">Besoin d'une réparation ? Ecrivez-nous!</a>
    </div>
</main>