<main>
    <p>
        Merci d'avoir fait confiance à TechMasters.
        Vous recevrez un mail de confirmation de réception et une réponse dans les 48 heures à venir.
    </p>
    <img alt = "content" src = "/images/emoji.png">
</main>